html, body {
   height: 100%;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
}
 
.main{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.body{
   margin-top: 98px;
   flex: 1; 
}

.color-bar {
   background-color: black; 
}

.letter-bar {
   color: white; 
}

.logo{
   height: 60px; 
   margin-right: 10px;
   margin-top: 6px;
   margin-bottom: 6px;
}

.brand-container {
   display: flex;
   align-items: center; 
}

.brand-text {
   display: flex;
   flex-direction: column; 
   text-align: left;
}

.linea-superior2 {
   display: none; 
}

.nav-link{
  color: white;
}

.nav-link:hover{
   color: #F8BE2D;
 }


.navbar-toggler{
   border-color: rgba(214, 214, 214, 0.877);
   border-width: 1.5px;
}
   
.navbar-collapse{
   text-align: end;
}

.mr{
   margin-right: 10%;
}
 
.mrg{
   margin-right: 20%;
}
 
.active-link {
   text-decoration: underline; 
   color: #F8BE2D;
}
 
.pie-link {
   color: black; 
}
 
.pie{
   background-color: #F8BE2D; 
   margin-top: auto;

}
 
.pie p {
   display: flex;
   justify-content: center;
   padding: 10px 50px;
   color: white;
   margin: 0;   
}
 
.pie-link:hover{
   color: white;
}
 
.pie-content{
   padding: 20px 10px;
   border-bottom: 1px solid white;
   display: flex;
   flex-direction: row;  
}

.enlace-logo-pie{
   margin-left: 10%;
   display: flex;
   align-items: center;
}
  
.logo-pie{
   height: 100px; 
   margin-right: 10px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
   border-radius: 10%;
}

.enlace-logo-pie:hover .logo-pie {
   transform: translateY(-5px); 
   box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5); 
}
 
.col{
   display: flex;
   flex-direction: row;
   align-items: center;
}
 
.minicol1{
   display: flex;
   flex-direction: row;  
}
 
.minicol2{
   display: flex;
   flex-direction: row;
}
 
.margin-left{
   margin-left: 20%;
}
 
.mrg-but{
   margin-right: 10%;
}
 
@media only screen and (max-width: 1400px) {
 
   .margin-left{
      margin-left: 15%;
   }

   .mrg{
      margin-right: 10%;
   }
}
 
 
@media only screen and (max-width: 1150px) {
 
   .margin-left{
      margin-left: 0%;
   }

   .col{
      margin-left: 20%;
   }
 
   .minicol1{
      flex-direction: column;  
   }
 
   .minicol2{
      flex-direction: column;
      padding-left: 20%;
   }
 
 }
 
@media only screen and (max-width: 768px) {
 
   .col{
      margin-left: 15%;
   }
 
   .minicol2{
      padding-left: 15%;
   }
 
}
 
@media only screen and (max-width: 630px) {
 
   .col{
      flex-direction: column;
      margin-left: 20%;
      align-items: start;
   }
 
   .minicol1{
      margin-left: 0;
   }
 
   .minicol2{
      padding-left: 0;
   }
 
   .imag{
      display: flex;
      align-items: center;
      margin-top: 25px;
   }

}
 
@media only screen and (max-width: 415px) {
   .logo{
      height: 60px; 
      margin-left: -10%;
   }

   .logo-pie{
      height: 90px; 
   }

   .linea-superior1 {
      display: none; 
   }

   .linea-superior2 {
      display: contents;
   }
 
   .col{
      margin-left: 10%;
   }
 
   .mrg-but, .mr{
      margin-right: 5%;
   }
 
}