<body class="main">
  <div >
    <nav class="navbar border-bottom fixed-top navbar-expand-lg color-bar" data-bs-theme="dark">

      <a class="navbar-brand letter-bar" style="margin-left: 10%;" href="inicio" routerLink="/inicio">
        <div class="brand-container">
          <img src="assets/imagenes/icono-negro2.png" alt="LogoForja" class="logo">
          <div class="brand-text">
            <span class="linea-superior1">Asociación Vecinal</span>
            <span class="linea-superior2">A. V.</span>
            <span class="linea-inferior">LA FORJA</span>
          </div>
        </div>
      </a>
      <button class="navbar-toggler ml-auto mrg-but " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr">
          <li class="nav-item">
            <a class="nav-link mrg" href="novedades" routerLink="/novedades" routerLinkActive="active-link">Novedades</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link mrg" href="talleres" role="button" routerLink="/talleres" routerLinkActive="active-link">Talleres</a>
          </li>

          <li class="nav-item">
            <a class="nav-link mrg" href="asociacion" routerLink="/asociacion" routerLinkActive="active-link">Asociación</a>
          </li>

          <li class="nav-item">
            <a class="nav-link mrg" href="junta" routerLink="/junta" routerLinkActive="active-link">Junta</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link mrg" href="transparencia" routerLink="/transparencia" routerLinkActive="active-link">Transparencia</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>



  
  <div class="body">
    <ng-content></ng-content>
  </div>



 
  <footer id="main-footer" class="pie">
    <div class="pie-content">
      <div>
        <a class="enlace-logo-pie" href="inicio" routerLink="/inicio">
          <img src="assets/imagenes/icono4.2.png" alt="Logo" class="logo-pie"> 
        </a>
        <div class="social social-1">
          <a href="https://www.instagram.com/aavv_laforja" target="_blank" rel="noopener noreferrer" class="pie-link icon-social">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://www.facebook.com/aavvlaforja" target="_blank" rel="noopener noreferrer" class="pie-link icon-social facebook">
            <i class="bi bi-facebook"></i>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-1 links-pie">
          <a class="nav-link pie-link" href="inicio" routerLink="/inicio" >Inicio</a>
          <a class="nav-link pie-link" href="novedades" routerLink="/novedades" >Novedades</a>
          <a class="nav-link pie-link" href="talleres" role="button" routerLink="/talleres" >Talleres</a>
          <a class="nav-link pie-link" href="asociacion" routerLink="/asociacion" >Asociación</a>
          <a class="nav-link pie-link" href="junta" routerLink="/junta" >Junta</a>
          <a class="nav-link pie-link" href="transparencia" routerLink="/transparencia">Transparencia</a>
        </div>
        <div class="social social-2">
          <a href="https://www.instagram.com/aavv_laforja" target="_blank" rel="noopener noreferrer" class="pie-link icon-social">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://www.facebook.com/aavvlaforja" target="_blank" rel="noopener noreferrer" class="pie-link icon-social facebook">
            <i class="bi bi-facebook"></i>
          </a>
        </div>
      </div>
    </div>
    <p>©María Sánchez Torrente, 2024. Todos los derechos reservados</p>
  </footer> 
</body>
