html, body {
   height: 100%;
   margin: 0;
   padding: 0;
   display: flex;
   overflow: hidden;
   flex-direction: column;
   scroll-snap-type: y mandatory; 
   scroll-behavior: smooth;

}
 
.main{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.body{
   margin-top: 98px;
   flex: 1; 
}

.color-bar {
   background-color: black; 
}

.letter-bar {
   color: white; 
}

.logo{
   height: 60px; 
   margin-right: 10px;
   margin-top: 6px;
   margin-bottom: 6px;
}

.brand-container {
   display: flex;
   align-items: center; 
}

.brand-text {
   display: flex;
   flex-direction: column; 
   text-align: left;
}

.linea-superior2 {
   display: none; 
}

.nav-link{
  color: white;
}

.nav-link:hover{
   color: #F8BE2D;
 }


.navbar-toggler{
   border-color: rgba(214, 214, 214, 0.877);
   border-width: 1.5px;
}
   
.navbar-collapse{
   text-align: end;
}

.mr{
   margin-right: 10%;
}
 
.mrg{
   margin-right: 5px;
}

.mrg-pie{
   margin-right: 20%;
}
 
.active-link {
   text-decoration: underline; 
   color: #F8BE2D;
}
 
.pie-link {
   color: black; 
}
 
.pie{
   background-color: #F8BE2D; 
   margin-top: auto;

}
 
.pie p {
   display: flex;
   justify-content: center;
   padding: 10px 50px;
   color: white;
   margin: 0;   
}
 
.pie-link:hover{
   color: white;
}
 
.pie-content{
   padding: 20px 10%;
   border-bottom: 1px solid white;
   display: flex;
   flex-direction: row;  
   align-items: center;
}

.enlace-logo-pie{
   margin-left: 10%;
   display: flex;
   align-items: center;
}
  
.logo-pie{
   height: 100px; 
   margin-right: 10px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
   border-radius: 10%;
}

.enlace-logo-pie:hover .logo-pie {
   transform: translateY(-5px); 
   box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5); 
}
 
.col{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-left: 15%;
}

.links-pie{
   display: flex;
   justify-content: center;
   width: 70%;
}

.social{
   margin-left: 10%;
}

.social-1{
   display: none;
}

.social-2{
   display: flex;
}

.icon-social{
   font-size: 35px;
}

.facebook{
   margin-left: 20px;
}
 
.mrg-but{
   margin-right: 10%;
}
 
@media only screen and (max-width: 1400px) {
 
   .mrg-pie{
      margin-right: 10%;
   }
}
 
 
@media only screen and (max-width: 1150px) {


   .links-pie{
      width: 60%;
   }

 
 }
 
@media only screen and (max-width: 768px) {
 
   .col{
      margin-left: 10%;
   }

   .icon-social{
      font-size: 30px;
   }
 
}
 
@media only screen and (max-width: 574px) {
 
   .col{
      flex-direction: column;
      margin-left: 25%;
      align-items: start;
   }
 
   .social-1{
      display: flex;
   }

   .social-2{
      display: none;
   }

   .social{
      margin-left: 10%;
      justify-content: center;
      margin-top: 10px;
   }
 
   .imag{
      display: flex;
      align-items: center;
      margin-top: 25px;
   }

   .pie-content{
      padding: 20px 10%;
   }


}
 
@media only screen and (max-width: 415px) {
   .logo{
      height: 60px; 
      margin-left: -10%;
   }

   .logo-pie{
      height: 90px; 
   }

   .linea-superior1 {
      display: none; 
   }

   .linea-superior2 {
      display: contents;
   }

   .pie-content{
      padding-left: 9%;
   }
 
   .col{
      margin-left: 18%;
   }
 
   .mrg-but, .mr{
      margin-right: 5%;
   }

   .pie p {
      padding: 10px 40px; 
   }
 
}


@media only screen and (max-width: 320px) {

   .logo-pie{
      height: 75px; 
   }

   
   .pie-content{
      padding-left: 6%;
   }
 
   .col{
      margin-left: 12%;
   }

   .pie p {
      padding: 10px 25px; 
   }

}