<body class="main">
  <div >
    <nav class="navbar border-bottom fixed-top navbar-expand-lg color-bar" data-bs-theme="dark">

      <a class="navbar-brand letter-bar" style="margin-left: 10%;" href="inicio" routerLink="/inicio">
        <div class="brand-container">
          <img src="assets/imagenes/icono-negro2.png" alt="LogoForja" class="logo">
          <div class="brand-text">
            <span class="linea-superior1">Asociación Vecinal</span>
            <span class="linea-superior2">A. V.</span>
            <span class="linea-inferior">LA FORJA</span>
          </div>
        </div>
      </a>
      <button class="navbar-toggler ml-auto mrg-but " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" style="margin-right: 10%;">
          <li class="nav-item">
            <a class="nav-link mrg" href="info" routerLink="/informacion" routerLinkActive="active-link">Infórmate</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link mrg" href="talleres" role="button" routerLink="/talleres" routerLinkActive="active-link">Talleres</a>
          </li>

          <li class="nav-item">
            <a class="nav-link mrg" href="asociacion" routerLink="/asociacion" routerLinkActive="active-link">Asociación</a>
          </li>

          <li class="nav-item">
            <a class="nav-link mrg" href="junta" routerLink="/junta" routerLinkActive="active-link">Junta</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link mrg" href="transparencia" routerLink="/transparencia" routerLinkActive="active-link">Transparencia</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>



  
  <div class="body">
    <ng-content></ng-content>
  </div>



 
  <footer class="pie">
    <div class="pie-content">
      <a class="" style="margin-left: 10%;" href="inicio" routerLink="/inicio">
        <img src="" alt="Logo" class="imag"> 
      </a>
      <div class="col">
        <div class="minicol1 margin-left">
          <a class="nav-link mrg pie-link" href="inicio" routerLink="/inicio" >Novedades</a>
          <a class="nav-link mrg pie-link margin-left" href="info" routerLink="/info" >Infórmate</a>
          <a class="nav-link mrg pie-link margin-left" href="talleres" role="button" routerLink="/talleres" >Talleres</a>
        </div>
        <div class="minicol2 margin-left">
          <a class="nav-link mrg pie-link" href="asociacion" routerLink="/asociacion" >Asociación</a>
          <a class="nav-link mrg pie-link margin-left" href="junta" routerLink="/junta" >Junta</a>
          <a class="nav-link mrg pie-link margin-left" href="transparencia" routerLink="/transparencia">Transparencia</a>
        </div>
      </div>
    </div>
    <p>©María Sánchez Torrente, 2024. Todos los derechos reservados</p>
  </footer> 
</body>
