<ngb-carousel #carousel="ngbCarousel" (slide)="onSlide($event)" class="carousel-fade" [ngClass]="{'carousel-dark': currentSlide >= 3}">
    <div class="carousel-indicators">
        <button 
            *ngFor="let slide of slides; let i = index" 
            type="button" 
            [attr.data-bs-slide-to]="i" 
            [attr.aria-label]="'Slide ' + (i + 1)" 
            [class.active]="i === currentSlide">
        </button>
    </div>
    
    <ng-template ngbSlide *ngFor="let slide of slides; let i = index">
        <div>
            <a [routerLink]="slide.link">
                <img [src]="slide.img" class="d-block w-100" alt="{{slide.title}}">
                <div class="carousel-text" [ngClass]="{'texto-sombra-light': i < 2,'texto-light': i === 2, 'texto-dark': i >= 3}">
                    <h5 class="text-title">{{ slide.title }}</h5>
                    <h5 class="text-additional">{{ slide.additional }}</h5>
                </div>
            </a>
        </div>
    </ng-template>
</ngb-carousel>