.carousel-text {
    position: absolute;
    right: 15%;
    bottom: 35%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-shadow: 0 0 1em rgb(255, 255, 255);
}

.texto-dark{
    color: #000000;
    text-shadow: 0 0 8px white;
}

.texto-light{
    color: #ffffff;
    text-shadow: 0 0 0px rgb(0, 0, 0);
}

.texto-sombra-light{
    color: #ffffff;
    text-shadow: 0 0 20px rgb(0, 0, 0);
}

.text-title{
    font-size: 400%;
}

.text-additional{
    font-size: 175%;  
    font-weight:initial; 
}

.tam-imag{
    max-height: 379.49px;
}

@media only screen and (max-width: 938px) {
    .carousel-text {
        bottom: 25%;
    }

    .text-title{
        font-size: 250%;
    }
    
    .text-additional{
        font-size: 140%;   
    }
    
}


@media only screen and (max-width: 630px) {
    
    .text-title {
        font-size: 180%;
    }

    .text-additional{
        font-size: 110%;   
    }
}


@media only screen and (max-width: 550px) {
    
    .text-title {
        font-size: 130%;
    }

    .text-additional{
        font-size: 90%;   
    }
}

@media only screen and (max-width: 450px) {
    
    .text-title {
        font-size: 100%;
    }

    .text-additional{
        font-size: 70%;   
    }
}

@media only screen and (max-width: 375px) {
    
    .text-title {
        font-size: 90%;
    }

    .text-additional{
        font-size: 70%;   
    }

    .carousel-text {
        bottom: 12%;
    }
}