.titulo{
    padding-top: 6%;
    padding-bottom: 6%;
}

.center{
    text-align: center;
    justify-content: center;
}

.bk-color-mostaza{
    background-color: rgba(248, 190, 45, 1);
}

.circulo{
    display: flex;
    border-radius: 50%;
    border: 3px outset rgba(17, 157, 164);
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
}

.color-letra-azul{
    color:rgb(17, 157, 164, 1);
}

.color-letra-mor{
    color:rgba(102, 0, 161, 1);
}

.shadow-box-blue{
    box-shadow: 0px 2px 70px 0px rgba(17, 157, 164, 0.18);
    border: none;
}

.shadow-box-purp{
    box-shadow: 0px 2px 70px 0px rgba(102, 0, 161, 0.18);
    border: none;
}

.buton-morado{
    background-color: rgb(102, 0, 161);
}

.buton-azul{
    background-color: rgb(17, 157, 164);
}

.buton{
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    margin-top: 3%;
}

.row{
    margin: 0px;
}

.w{
    width: 90%;
    margin-left: 5%;
}

.mb{
    margin-bottom: 1%;
}

.titulo-tarjeta{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title{
    margin-left: 10px;
    text-align: left;
    width: auto;
}

.contenido-novedades{
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 3%;
}

.carousel{
    margin: 4% auto;
    padding: 20px 0;
    max-width: 80%;
    overflow: hidden;
    display: flex;
    > * {
        flex: 0 0 100%;
    }
    &:hover .group {
        animation-play-state: paused;
    }
}

/*.tarjeta{
    width: 100%;
    color: white;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
    padding: 20px;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    min-width: 250px;
}*/
.tarjeta {
    position: relative;
    width: 100%;
    min-height: 300px;
    min-width: 250px;
    border-radius: 24px;
    overflow: hidden;

    display: flex;
    justify-content: center;

    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 20px;
    font-size: xx-large;

    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.tarjeta::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    transition: 0.3s;
}

.contenido {
    position: relative;
    z-index: 2;    
}

.contenido_des{
    display: flex;
    align-items: center;
    height: 75%;
    width: 80%;
    margin: auto;
}

.group {
    display: flex;
    gap: 30px;
    padding-right: 30px;
    will-change: transform;
    animation: scroll 15s linear infinite;
}

.descripcion {
    opacity: 0;
    transform: translateY(10px);
    font-size: 16px;
    transition: 0.3s ease;
}

.transporte {
    background-image: url('/assets/imagenes/autobus.jpg');
}

.sanidad {
    background-image: url('/assets/imagenes/sanidad.jpg');
}

.urbanismo {
    background-image: url('/assets/imagenes/urbanismo.jpg');
}

.cultura {
    background-image: url('/assets/imagenes/cultura.jpg');
}

.educacion {
    background-image: url('/assets/imagenes/libros.jpg');
}

.tarjeta:hover::before {
    background: rgba(0,0,0,0.6);
}

.tarjeta:hover .descripcion {
    opacity: 1;
    transform: translateY(0);
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


@media only screen and (max-width: 1050px) {
    .contenido-novedades{
        padding-left: 7%;
        padding-right: 7%;
    }

    .tarjeta{
         min-height: 250px;
        min-width: 200px;
        font-size: x-large;
    }
}

@media only screen and (max-width: 767px) {
    .circulo{
        height: 42px;
        width: 42px;
        min-width: 42px;
        min-height: 42px;
    }
    
    .carousel{
        max-width: 85%;
    }

    .tarjeta{
        min-height: 200px;
        min-width: 170px;
        font-size: x-large;
    }

    .contenido_des{
        height: 70%;
        width: 85%;
    }
}

@media only screen and (max-width: 500px) {
    .contenido-novedades{
        padding-left: 5%;
        padding-right: 5%;
    }

    .carousel{
        max-width: 90%;
    }

    .tarjeta{
        min-height: 170px;
        min-width: 140px;
        font-size: medium;
    }
}

@media only screen and (max-width: 360px) {
    .circulo{
        height: 38px;
        width: 38px;
        min-width: 38px;
        min-height: 38px;
    }
}
