<app-carrusel></app-carrusel>

<div>

    <div class="contenido-novedades">

        <div class="section">
            <ng-container *ngIf="filteredNovedades && filteredNovedades.length > 0">
                <ng-container *ngFor="let novedades of filteredNovedades">
                    <div class="col">
                        <div class="novedades-card" >  
                            <div class="linea linea-arriba-izquierda" [ngClass]="getCardClass(novedades.Tipo)"></div>
                            <div class="linea linea-abajo-derecha" [ngClass]="getCardClass(novedades.Tipo)"></div>
                            <div class="linea linea-arriba-derecha" [ngClass]="getCardClass(novedades.Tipo)"></div>
                            <div class="linea linea-abajo-izquierda" [ngClass]="getCardClass(novedades.Tipo)"></div>
                            <h3 class="nombre-taller font-text">{{ novedades.Titulo }}</h3>
                            <P [innerHTML]="novedades.ContenidoResumido"></P>
                            <P [innerHTML]="novedades.Contenido"></P>
                            <a href="{{ novedades.EnlaceExterno }}" target="_blank" rel="noopener noreferrer" class="enlace">Enlace Externo</a>
                            <img *ngIf="novedades?.Multimedia?.length > 0" [src]="BASE_URL + (novedades.Multimedia[0].url)" alt="{{ novedades.Titulo }}" class="taller-imagen" />
                        </div>
                    </div>        
                </ng-container>
            </ng-container>
        </div>
    </div>
    
    
</div>


<app-scroll-to-top></app-scroll-to-top>