.titulo{
    padding-top: 6%;
    padding-bottom: 6%;
}

.center{
    text-align: center;
    justify-content: center;
}

.bk-color-mostaza{
    background-color: rgba(248, 190, 45, 1);
}

.circulo{
    border-radius: 50%;
    border: 3px outset rgba(17, 157, 164);
    width: 45px;
    height: 45px;
}

.color-letra-azul{
    color:rgb(17, 157, 164, 1);
}

.color-letra-mor{
    color:rgba(102, 0, 161, 1);
}

.shadow-box-blue{
    box-shadow: 0px 2px 70px 0px rgba(17, 157, 164, 0.18);
    border: none;
}

.shadow-box-purp{
    box-shadow: 0px 2px 70px 0px rgba(102, 0, 161, 0.18);
    border: none;
}

.buton-morado{
    background-color: rgb(102, 0, 161);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    margin-top: 3%;
}

.row{
    margin: 0px;
}

.w{
    width: 90%;
    margin-left: 5%;
}

.mb{
    margin-bottom: 1%;
}

.titulo-tarjeta{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title{
    margin-left: 10px;
    text-align: left;
    
    width: auto;
}

.contenido-novedades{
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 3%;
}



@media only screen and (max-width: 1050px) {
    .contenido-novedades{
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media only screen and (max-width: 767px) {
    .circulo{
        height: 42px;
        width: 42px;
    }
    
}

@media only screen and (max-width: 500px) {
    .contenido-novedades{
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen and (max-width: 360px) {
    .titulo-tarjeta{

        justify-content: start;
    }
}