
<div class="transparencia body">
    <div class="titulo h-center section">
        <h1>TRANSPARENCIA</h1>
        <div class="year">
            <label for="yearSelect">Año: </label>
            <select id="yearSelect" [(ngModel)]="selectedYear" (change)="onYearChange()">
                <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
            </select>
        </div>
    </div>
    <div>
        <ng-container *ngIf="filteredTransparencia && filteredTransparencia.length > 0">
            <ng-container *ngFor="let trans of filteredTransparencia">

                <div *ngIf="trans.InformacionEconomica && trans.InformacionEconomica.length > 0">
                    <h3>Información Económica</h3>
                    <iframe [src]="getSanitizedUrl(trans.InformacionEconomica[0].url)" width="50%" height="500px" loading="lazy"></iframe>
                </div>

                <div *ngIf="trans.FuncionesNormativa && trans.FuncionesNormativa.length > 0">
                    <h3>Funciones/Normativa</h3>
                    <iframe [src]="getSanitizedUrl(trans.FuncionesNormativa[0].url)" width="50%" height="500px" loading="lazy"></iframe>
                </div>

                <div *ngIf="trans.SubvencionesActividades && trans.SubvencionesActividades.length > 0">
                    <h3>Subvenciones/Actividades</h3>
                    <iframe [src]="getSanitizedUrl(trans.SubvencionesActividades[0].url)" width="50%" height="500px" loading="lazy"></iframe>
                </div>
                
                <div *ngIf="trans.SubvencionesActividadesAnexoI && trans.SubvencionesActividadesAnexoI.length > 0">
                    <h3>Subvenciones/Actividades Anexo I</h3>
                    <iframe [src]="getSanitizedUrl(trans.SubvencionesActividadesAnexoI[0].url)" width="50%" height="500px" loading="lazy"></iframe>
                </div>
 
                <div *ngIf="trans.SubvencionesActividadesAnexoII && trans.SubvencionesActividadesAnexoII.length > 0">
                    <h3>Subvenciones/Actividades Anexo II</h3>
                    <iframe [src]="getSanitizedUrl(trans.SubvencionesActividadesAnexoII[0].url)" width="50%" height="500px" loading="lazy"></iframe>
                </div>

                <div *ngIf="trans.SubvencionesActividadesAnexoIII && trans.SubvencionesActividadesAnexoIII.length > 0">
                    <h3>Subvenciones/Actividades Anexo III</h3>
                    <iframe [src]="getSanitizedUrl(trans.SubvencionesActividadesAnexoIII[0].url)" width="50%" height="500px" loading="lazy"></iframe>
                </div>

                <div *ngIf="trans.SubvencionesActividadesAnexoIV && trans.SubvencionesActividadesAnexoIV.length > 0">
                    <h3>Subvenciones/Actividades Anexo IV</h3>
                    <iframe [src]="getSanitizedUrl(trans.SubvencionesActividadesAnexoIV[0].url)" width="50%" height="500px" loading="lazy"></iframe>
                </div>

                <div *ngIf="trans.SubvencionesActividadesAnexoV && trans.SubvencionesActividadesAnexoV.length > 0">
                    <h3>Subvenciones/Actividades Anexo V</h3>
                    <iframe [src]="getSanitizedUrl(trans.SubvencionesActividadesAnexoV[0].url)" width="50%" height="500px" loading="lazy"></iframe>
                </div>

                <div *ngIf="trans.SubvencionesActividadesAnexoVI && trans.SubvencionesActividadesAnexoVI.length > 0">
                    <h3>Subvenciones/Actividades Anexo VI</h3>
                    <iframe [src]="getSanitizedUrl(trans.SubvencionesActividadesAnexoVI[0].url)" width="50%" height="500px" loading="lazy"></iframe>
                </div>

                <div *ngIf="trans.SubvencionesActividadesAnexoVII && trans.SubvencionesActividadesAnexoVII.length > 0">
                    <h3>Subvenciones/Actividades Anexo VII</h3>
                    <iframe [src]="getSanitizedUrl(trans.SubvencionesActividadesAnexoVII[0].url)" width="50%" height="500px" loading="lazy"></iframe>
                </div>

                <div *ngIf="trans.SubvencionesActividadesAnexoVIII && trans.SubvencionesActividadesAnexoVIII.length > 0">
                    <h3>Subvenciones/Actividades Anexo VIII</h3>
                    <iframe [src]="getSanitizedUrl(trans.SubvencionesActividadesAnexoVIII[0].url)" width="50%" height="500px" loading="lazy"></iframe>
                </div>

                <div *ngIf="trans.SubvencionesActividadesAnexoIX && trans.SubvencionesActividadesAnexoIX.length > 0">
                    <h3>Subvenciones/Actividades Anexo IX</h3>
                    <iframe [src]="getSanitizedUrl(trans.SubvencionesActividadesAnexoIX[0].url)" width="50%" height="500px" loading="lazy"></iframe>
                </div>

                <div *ngIf="trans.SubvencionesActividadesAnexoX && trans.SubvencionesActividadesAnexoX.length > 0">
                    <h3>Subvenciones/Actividades Anexo X</h3>
                    <iframe [src]="getSanitizedUrl(trans.SubvencionesActividadesAnexoX[0].url)" width="50%" height="500px" loading="lazy"></iframe>
                </div>

            </ng-container>
        </ng-container>
    </div>
    

</div>

