
.transparencia{
    padding-top: 6%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 6%;
    
}

.scrollsky{
    margin-top: 3%;
    justify-content: center;
    background-color: rgba(139, 139, 139, 0.701);
}



.nav-link{
    color: white;
    font-weight: 600;
    font-size: large;
}


.nav-link:hover{
    color:rgb(0, 135, 142);
    background-color: rgba(255, 255, 255, 0.434);
}

.hover-morado:hover{
    background-color: rgba(102, 0, 161);
    color: white;
    border-color: transparent;
}

.hover-azul:hover{
    background-color: rgb(0, 135, 142);
    color: white;
    border-color: transparent;
}

.hover-mostaza:hover{
    background-color:  rgba(248, 190, 45);
    color: white;
    border-color: transparent;
}

.titulo{
    margin-top: 5%;
}


.year{
    margin-top: 12px;
}

.subrayado{
    text-decoration: underline;
    margin-bottom: 4%;
}



.trans-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.degradado{
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgb(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);  
}

.degradado-mostaza{
    background: rgba(248, 190, 45, 1);
}

.degradado-morado{
    background: rgba(102, 0, 161, 1); 
}

.degradado-azul{
    background: rgba(17, 157, 164, 1);
}

.tam-imag{
    max-width: 40%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 2%;
}

.cols{
    display: flex;
    flex-direction: row;
}

.tarjeta{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 2%;
    margin-bottom: 4%;
    min-height: 200px; /* Altura mínima opcional */
    height: auto;
}

.text-align{
    text-align: left;
}

.justify-but{
    display: flex;
    justify-content:left;
    align-items: end;
}

.text-content{
    flex-shrink: 0; /* Evita que el texto se reduzca */
    flex-grow: 0; /* No expande el texto */
    flex-basis: auto;
}

.text-padding{
    padding: 2%;
}


select{
    margin-left: 4px; 
}

.fondo-gris{
    background-color: rgba(92, 92, 92, 0.311);
}

.fondo-blanco{
    background-color: white ;
}

.anexo-boton{
    border-radius: 50%;
    width: 60px; /* Tamaño del círculo */
    height: 60px;
    background-color: rgba(102, 0, 161, 1);
    border-color: transparent;
}

.anexo-boton:hover{
    background-color: rgba(17, 157, 164, 1);
}

.anexo-boton i{
    color: white;
    font-size: 30px; /* Tamaño del ícono */    
}

.center{
    text-align: center;
    justify-content: center;
}

.marg-bot{
    margin-bottom: 4%;
}

.card{
    border-radius: 0px;
    border-left: 7px solid rgba(102, 0, 161, 1);
    background-color: rgba(219, 219, 219, 0.201);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3)
}

/* Estilos para el fondo oscuro */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.311); /* Fondo negro con opacidad */
    z-index: 1000; /* Asegurarse de que esté encima del resto */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}
  
  /* Contenedor del PDF */
.modal-content {
    position: relative;
    width: 80%; /* Ancho del modal */
    height: 90%; /* Alto del modal */
    background: white; /* Fondo blanco para el PDF */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Oculta cualquier desbordamiento */
    z-index: 1001;
}
  
  /* Botón para cerrar el modal */
.modal-close-button {
    position: absolute;
    top: 12px;
    right: 15px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1002;
}

@media only screen and (max-width: 1300px) {
    .transparencia{
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (max-width: 1100px) {
    .cols{
        flex-direction: column;
    }

    .tam-imag{
        max-width: 80%;
        margin-left: 10%;

    }

    .text-align{
        text-align: center;
    }

    .justify-but{
        justify-content: center;
    }

}

@media only screen and (max-width: 791px) {
    .scrollsky-intern{
        margin: 0px 100px;
    }

}

@media only screen and (max-width: 656px) {
    .scrollsky-intern{
        margin: 0px 70px;
    }

}

@media only screen and (max-width: 536px) {
    .scrollsky-intern{
        margin: 0px 40px;
    }

}

@media only screen and (max-width: 416px) {
    .scrollsky-intern{
        margin: 0px 20px;
    }

}

@media only screen and (max-width: 336px) {
    .scrollsky-intern{
        margin: 0px 0px;
    }

}