
<div class="">
  <div class="titulo center">
    <h1>CONTACTO</h1>
    <div class="asociacion-contacto cols tarjeta-contacto section">
      <div class="col1">
        <img src="assets/imagenes/LOGO LA FORJA-2.2-trans.png" alt="Logo" class="logo">
        <h3>Asociación Vecinal La Forja</h3>
        <p>46520, Puerto de Sagunto</p>
        <p>Calle María de Molina, 2</p>
        <p>Correo Electrónico: 
          <a class="correo" href="mailto:aa.vvlaforja@gmail.com" target="_blank" rel="noreferrer noopener">aa.vvlaforja&#64;gmail.com</a>
        </p>
        <div>
          <a href="https://www.instagram.com/aavv_laforja" target="_blank" rel="noopener noreferrer" class="insta">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://www.facebook.com/aavvlaforja" target="_blank" rel="noopener noreferrer" class="facebook-icon">
            <i class="bi bi-facebook"></i>
          </a>         
        </div>
        

      </div>
      <div class="contenedor-mapa">
        <iframe
          id="Example2" title="iframe Example 2" class="mapa"
          src="https://www.google.com/maps/embed?origin=mfe&pb=!1m4!2m1!1sCalle+Mar%C3%ADa+de+Molina,+2,+46520+Puerto+de+Sagunto,+Valencia!5e0!6i15">
        </iframe>
      </div>
    </div> 
  </div>

  <div class="fondo-historia-container">
    <div class="titulo center historia-titulo">
      <h1>NUESTRA HISTORIA</h1>
      <h4>LA FORJA, UNA HISTORIA DE MÁS DE 50 AÑOS</h4>
    </div>
    <div class="container-historia asociacion-historia">
      <div class="historia-text ">
        <p>Corría el año 1973 y necesidades del barrio en donde se carecía de aspectos tan básicos como alcantarillado, luces, pavimentación, 
          colegios como el Tierno Galván, Joaquín Rodrigo, etc, sirvieron de impulso para el nacimiento de la Asociación. 
          Nuestra evolución ha discurrido en paralelo a los cambios sociales de estos últimos más de 50 años, desde las primeras reuniones en 
          donde se carecía de local propio y teniendo en cuenta que el nacimiento se produjo en ayuntamientos no democráticos donde tenías que 
          reunirte en la clandestinidad al actual local propiedad de La Forja que actúa no solo como punto de encuentro de la Asociación, 
          sino del movimiento vecinal y social del municipio.</p>
        <p>En nuestra actividad, la Asociación siempre ha tenido un punto focal de actuación: hacer de nuestro municipio y de nuestra sociedad 
          un lugar mejor tal y como a lo largo de estos más de 50 años la Asociación Vecinal la Forja ha hecho.</p>
        <p>Como movimiento transversal actúa en todos los ámbitos que nos rodean procurando ser un vínculo entre los vecinos/as y las instituciones. 
          Algunos ejemplos de nuestra actuación van desde el tratamiento de problemas como el asfaltado de calles, mantenimiento de las mismas, 
          limpieza, parques, es decir, del día a día, como otros aspectos del municipio, por lo que la actividad no sólo se limita al barrio del Ferrolán 
          en el cual hemos desarrollado muchas iniciativas desde nuestro nacimiento como las relativas al desarrollo urbanístico, control de limpieza, 
          relaciones con empresas del polígono entre las que cabe citar las negociaciones que hubieron con la empresa Ferrodisa para la cesión de 
          terrenos en lo que hoy se denomina terrenos del Biensa que tuvieron su origen en el campo de fútbol de la Forja, en la construcción del 
          colegio Tierno Galván, en el desarrollo de la Plaza Reina Fabiola y otras actuaciones como las del Triángulo Umbral, etc, sino que además, 
          desarrollamos de forma constante como parte viva del municipio otras áreas de trabajo: Participación Ciudadana, Ciclo Integral del Agua, 
          Infraestructuras, Transporte, Sanidad, Inversiones, Costas, Pantalán, etc.</p>
        <p>Un ejemplo de la importancia de la actividad de la Asociación y de su legado sería como el nombre de la Asociación da nombre al barrio 
          en el cual se asienta de tal forma que el barrio de La Forja es reconocido como tal a través del nombre de la Asociación. Además, la actividad 
          de la Asociación se proyecta fuera de su ámbito local participando y siendo copartícipe de múltiples iniciativas como la defensa del Corredor 
          Cantábrico-Mediterráneo, la Promoción de la Salud, de la Participación Ciudadana, Medio Ambiente, 3ª Edad, etc, dentro de una esfera nacional, 
          lo cual es relevante al saber que muchas de estas iniciativas perdurarán en el tiempo o servirán de testimonio de nuestra actividad a través 
          del mismo.</p>
        <p>No obstante, el mayor legado de nuestra Asociación, como parte del entorno que le rodea es su componente humano. Atesorar una historia 
          como la nuestra es recordar a quienes ya no están con nosotros por lo que en esta breve descripción de nuestro pasado se rinde recuerdo al 
          mayor de sus activos:</p>
        <p>A todas aquellas personas que ayudaron a escribir esta historia, la historia de la:</p>
      </div>
      <h3 class="center">ASOCIACIÓN VECINAL LA FORJA</h3>
    </div>
  </div>
</div>


<app-scroll-to-top></app-scroll-to-top>