
.table-css{
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.junta{
    margin-top: 7%;
}

.table{
    margin-top: 6%;
    margin-bottom: 12%;
}

.year{
    margin-top: 12px;
}

.center-vert{
    display: table-cell;
    vertical-align: middle;
}

.mostaza{
    background-color: #F8BE2D;
}

.borde{
    border-color: black;
    border-width: 2px;
}

select{
    margin-left: 4px;
    
}


@media only screen and (max-width: 768px) {
    .table{
        margin-top: 20px;
        margin-bottom: 20%;
    }   
}

@media only screen and (max-width: 520px) {
    .table-css{
        width: 80%;
        margin-left: 10%; 
    }

    .table{
        margin-top: 25px;
        margin-bottom: 25%;
    }  
}