
<div class="table-css">
    <div class="junta">
        <h1>Junta Directiva</h1>
        <div class="year">
            <label for="yearSelect">Año:</label>
            <select id="yearSelect" [(ngModel)]="selectedYear" (change)="onYearChange()">
                <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
            </select>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
            <th class="center-vert mostaza borde" scope="col">Cargo</th>
            <th class="center-vert mostaza borde" scope="col">Nombre y Apellidos</th>
            </tr>
        </thead>
        <tbody class="borde">
            <ng-container *ngIf="filteredJunta && filteredJunta.length > 0">
                <ng-container *ngFor="let miembro of filteredJunta">
                    <tr>
                        <td class="center-vert">Presidente</td>
                        <td class="center-vert">{{ miembro.Presidente }}</td>
                    </tr>
                    <tr>     
                        <td class="center-vert">Vicepresidente</td>
                        <td class="center-vert">{{ miembro.Vicepresidente }}</td>
                    </tr>
                    <tr>
                        <td class="center-vert">Secretaría</td>
                        <td class="center-vert">{{ miembro.Secretaria }}</td>
                    </tr>
                    <tr>
                        <td class="center-vert">Tesorería</td>
                        <td class="center-vert">{{ miembro.Tesoreria }}</td>
                    </tr>
                    <tr>
                        <td class="center-vert" rowspan="10">Vocalías</td>
                        <td class="center-vert">{{ miembro.Vocal1 }}</td>
                    </tr>
                    <tr>
                        <td class="center-vert">{{ miembro.Vocal2 }}</td>
                    </tr>
                    <tr>
                        <td class="center-vert">{{ miembro.Vocal3 }}</td>
                    </tr>
                    <tr> 
                        <td class="center-vert">{{ miembro.Vocal4 }}</td>
                    </tr>
                    <tr> 
                        <td class="center-vert">{{ miembro.Vocal5 }}</td>
                    </tr>
                    <tr> 
                        <td class="center-vert">{{ miembro.Vocal6 }}</td>
                    </tr>
                    <tr>
                        <td class="center-vert">{{ miembro.Vocal7 }}</td>
                    </tr>
                    <tr>
                        <td class="center-vert">{{ miembro.Vocal8 }}</td>
                    </tr>
                    <tr>
                        <td class="center-vert">{{ miembro.Vocal9 }}</td>
                    </tr>
                    <tr>
                        <td class="center-vert">{{ miembro.Vocal10 }}</td>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
</div>